@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700"); 

html, body {
	margin: 0px;
	font-family: 'Lato'; 
}

.general-container {
	padding: 0px; 
}

/* General templates */

.title-template {
	font-weight: 300; 
}