{% extends "layout.html.twig" %}

{% block content %} 
	{{parent()}} 
	<script type="text/javascript" src="skin/configuracion.js"></script>
	<div class="col-md-12">
		<h2 style="font-weight: 300;">Configuración</h2>
		 <div class="export-controllers">
		 	<div class="form">
			  	<button data-toggle="modal" data-target="#exportOptions" class="btn btn-default">Importar</button>
			  	<button id="deleteDataDB" class="btn btn-default">Borrar todo</button>
		 	</div>
		  	<br> 
		  </div>
		  	<!-- loading --> 
		    <div id="loading">
	    		<p></p>
				<div class="container-space">
					<span>Cargando...</span>
					<div class="element-space">
					</div> 
				</div>
		    </div>
		    <!-- tabla CVA --> 
				<div id="cvaDiv" style="width: 100%; overflow-x: visible;">
					<hr>
					<h2>CVA</h2>
					<div>		
					    <table id="example" class="display" cellspacing="0" width="100%" style="width: 100%; overflow-x: visible; font-size: 12px;">
				      	  <thead></thead> 
				     	   <tbody></tbody>
				   		 </table>
					</div>
				</div>
            <!-- tabla techData --> 
				<div id="techDataDiv" class="inactive">
					<h2>TechData</h2>
					<table id="techData" class="display" cellspacing="0" width="100%" style="font-size: 10px;">
			      	  <thead> </thead>
			     	   <tbody></tbody>
			   		 </table>
				</div>
            <!-- tabla ingram --> 
			   <div id="ingramDiv" class="inactive">
			   		<h2>Ingram</h2>
					<table id="ingram" class="display table" cellspacing="0" width="100%" style="font-size: 10px;">
			      	   <thead></thead>
			     	   <tbody></tbody>
			   		 </table>
				</div> 		
	</div>




	<!-- editar / borrar atributo --> 


<div class="modal fade" id="exportOptions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Importar datos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">        
          <div class="col-md-12" style="margin-bottom: 10px;">
            <label for="recipient-name" class="col-md-3 col-form-label">Importar: </label>
            <div class="col-md-4">
            	<button id="importCVA" class="btn btn-primary">CVA</button>  
            </div>
            <div class="col-md-5">
	            <select class="form-control" id="CVAgroups">
	            	<option>ACCESORIOS</option>
	            	<option>VIDEO VIGILANCIA</option>
	            </select>
            </div>
          </div>
          <div class="col-md-12" style="margin-bottom: 10px;">
            <label for="message-text" class="col-md-3 col-form-label">Importar: </label>
            <div class="col-md-9">
            	<button id="importTechData" class="btn btn-primary">Tech Data</button>
            </div>
          </div>
          <div class="col-md-12" style="margin-bottom: 10px;">
            <label for="recipient-name" class="col-md-3 col-form-label">Importar: </label>
            <div class="col-md-9">
            	<button id="importIngram" class="btn btn-primary">Ingram</button>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="editSaveAttr" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
