 {% extends "layout.html.twig" %}

{% block content %} 
	{{parent()}} 
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.js"></script>

		<!-- dashboard --> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
	    
	    <!-- <script src="../dist/gridstack.js"></script>--> 
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.css" />
	    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.js'></script>
	    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.jQueryUI.min.js'></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

	    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

     	<script type="text/javascript" src="skin/graphs.js"></script>  

	<style type="text/css">
        .grid-stack {
            background: lightgoldenrodyellow;
        }
        .grid-stack-item-content {
            color: #2c3e50;
            text-align: center;
            background-color: #eff3f6; 
        }
        .grid-stack-item-content {
			border-radius: 4px; 
			padding-top: 4px; 
			padding-left: 4px; 
		}
		.grid-stack {
			background-color: white;  
			
			padding-top: 20px!important; 
		}
		div {
			transition-property: all!important; 
			transition-duration: .2s; 
		} 

	</style>

    <div class="col-md-9">
        <div class="row">
        <div class="col-md-6">
          <h1 class="title-template">Dashbard</h1>
        </div>
        <div class="col-md-6" style="padding-top: 25px;">
          <button class="btn btn-default btn-sty1 pull-right" id="addWidget" data-bind="click: addNewWidget">Añadir Indicador</button> 
        </div>
            
        </div>
        

			        <div data-bind="component: {name: 'dashboard-grid', params: $data}"></div>
	</div>
	<div class="col-md-3">
		{{ include('sidebar.html.twig') }}
	</div>

<script type="text/javascript">
	
     var idChart = 0; 

        ko.components.register('dashboard-grid', {
            viewModel: {
                createViewModel: function (controller, componentInfo) {
                    var ViewModel = function (controller, componentInfo) {
                        var grid = null;

                        this.widgets = controller.widgets;

                        this.afterAddWidget = function (items) {
                            if (grid == null) {
                                grid = $(componentInfo.element).find('.grid-stack').gridstack({
                                    auto: false
                                }).data('gridstack');
                            }

                            var item = _.find(items, function (i) { return i.nodeType == 1 });
                            grid.addWidget(item);
                            ko.utils.domNodeDisposal.addDisposeCallback(item, function () {
                                grid.removeWidget(item);
                            });
                        };
                    };

                    return new ViewModel(controller, componentInfo);
                }
            },
            template:
                [
                    '<div class="grid-stack" data-bind="foreach: {data: widgets, afterRender: afterAddWidget}">',
                    '   <div class="grid-stack-item" data-bind="attr: {\'data-gs-x\': $data.x, \'data-gs-y\': $data.y, \'data-gs-width\': $data.width, \'data-gs-height\': $data.height, \'data-gs-auto-position\': $data.auto_position}">',
                    '       <div class="grid-stack-item-content"><button data-bind="click: $root.deleteWidget" class="pull-left btn btn-default" style="font-weight: bold;">&times;</button><canvas id="myChart'+(idChart)+'"></canvas></div>',
                    '   </div>',
                    '</div> '
                ].join('')
        });

        var typeGr = ['', 'line', 'bar', 'horizontalBar']; 

        $(function () {
            var Controller = function (widgets) {
                var self = this;

                this.widgets = ko.observableArray(widgets);

                this.addNewWidget = function () {
                    this.widgets.push({
                        x: 0,
                        y: 0,
                        height: 4,
                        width: 6, 
                        auto_position: true
                    });
                    ///////////////////////////////////////////////////////////////
                        $.ajax({
                                url: 'controladores/getDataDashboard.php', 
                                method: 'POST', 
                                data: { type : 'cant_status' }, 
                                success: function(response) {
                                  var dataDash = JSON.parse(response); 
                                  console.log(dataDash); 
                                  var dataArray = []; 
                                  var dataArray2 = []; 
                                  for( var i = 0 in dataDash ) {
                                    dataArray.push(dataDash[i].flag_status); 
                                  }
                                  for( var i = 0 in dataDash ) {
                                    dataArray2.push(parseInt(dataDash[i].CANT)); 
                                  }
                                  //console.log(dataArray); 
                                        setTimeout(function() {
                                            xx = jQuery('canvas')[jQuery('canvas').length-1];  
                                            var ctx = xx.getContext('2d');
                                            var charts = new Chart(ctx, {
                                                type: typeGr[ Math.floor((Math.random() * 3) + 1)], 
                                                data: {
                                                    labels: dataArray,
                                                    datasets: [{
                                                        label: "Estados del catálogo",
                                                        /*backgroundColor: 'rgb(255, 99, 132)',*/
                                                        backgroundColor: '#337ab7',
                                                        borderColor: 'gray',
                                                        data: dataArray2,
                                                    }]
                                                }, 
                                                // Configuration options go here
                                                options: {}
                                            });
                                        }, 200); 
                                  
                                }
                               });


                    ///////////////////////////////////////////////////////////////

                    return false;
                };

                this.deleteWidget = function (item) {
                    self.widgets.remove(item);
                    return false;
                };
            };

            var widgets = [
                {x: 0, y: 0, width: 6, height: 4}/*,
                {x: 4, y: 4, width: 4, height: 4},
                {x: 0, y: 0, width: 4, height: 4},
                {x: 4, y: 4, width: 4, height: 4}*/ 
            ];

            var controller = new Controller(widgets);
            ko.applyBindings(controller);
        });



</script>
{% endblock %}
