{% extends "layout.html.twig" %}

{% block content %} 

	{{parent()}} 

	<script type="text/javascript" src="skin/feedLocal.js"></script>
  <link rel="stylesheet" type="text/css" href="skin/styles-feedLocal.css">
  <style type="text/css">
    ul {
      list-style: none; 
    }
    li {
      border-left: 1px solid gray;  
      border-left-style: dotted;
      padding-left: 2px; 
    }
    .tree-categories {
      padding-left: 0px; 
      padding: 0px; 
    }
    .paginate_button .current {
      background-color: gray; 
    }

    /* buscador de tabla */  
    input[type="search"] {
      border: none;
      background-color: #efefef;
      height: 30px;
      box-shadow: #ced2f7 0px 1px 4px 0px;
    }
    tr:hover {
      cursor: pointer;
    }
  </style>
 
 <!-- TREE --> 
  <style type="text/css">
    .tree-child {
      background-image: url('media/users/d.png');
      height: 10px;
      display: inline-block;
      z-index: 9999;
      left: 0px;
      background-size: 10px;
      background-position: -42px -1px;
      background-size: auto;
      width: 11px;
      background-repeat: no-repeat; 
      margin-left: -4px; 
      } 
      .container-feed {
        padding-left: 0px; 
        border-radius: 4px;
      }


      .small-btn {
        padding: 2px 7px 2px 7px;
      }

      /* header widget */
      .header-widget-tree {
        background-color: #e8edf1; border-top-left-radius: 4px; border-top-right-radius: 4px; border: 1px solid #e5e5e5; color: #656565; padding: 5px; font-weight: bold; padding-left: 15px;
      } 
      .body-widget-tree {
        border: 1px solid #e5e5e5; background-color: #eff3f6; border-radius: 4px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px;
      }
  </style>

     <div class="show-data col-md-9 hiding-window container-feed"> 
        <div class="row col-md-3"> 

            <div class="col-md-12">
                <div style="">
                  	<button class="btn btn-primary btn-sm small-btn" id="newCatBtn" data-toggle="modal" data-target="#newCat">Nueva</button>
                    <button class="btn btn-primary btn-sm small-btn" id="editCatBtn" data-toggle="modal" data-target="#eddCat">..</button>
                </div>
            </div>

            <div class="col-md-12" style="margin-top: 10px;">
                <div class="col-md-12 header-widget-tree">Categorías</div>
              <div class="container-tree-categories body-widget-tree">
                <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
                  <br>
                  <div class="col-md-6">
                    <a href="" style="background-color: #9e9e9e; color:white; padding: 2px 4px 2px 4px; border-radius: 4px;">contraer</a>
                  </div>
                  <div class="col-md-6">
                    <a style="background-color: #9e9e9e; color:white; padding: 2px 4px 2px 4px; border-radius: 4px;" href="">expander</a>                 
                  </div>
                </div>
                <ul class="tree-categories"> 
                	<li>
                		<img style="width: 20px;" src="skin/media/folder-open.png"> Electrónicos
                		<ul>
                			<li id="idCat20"> 
                				<img style="width: 20px;" src="skin/media/folder-open.png">
                				 Laptops 
                			</li>
                			<li>
                				<img style="width: 20px;" src="skin/media/folder-open.png">
                				 Pantallas
                			</li>
                			<li>
                				<img style="width: 20px;" src="skin/media/folder-open.png">
                				 Celulares
                			</li>
                		</ul>
                	</li>
                	<li>
                		<img style="width: 20px;" src="skin/media/folder-open.png">
                		 Ropa
                	</li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
               {{ include('filters.html.twig') }}
            </div>
        </div> 
        <div class="row col-md-9" style="padding-right: 0px;">
        <div class="col-md-12" style="padding: 0px; margin-bottom: 40px; ">
          <div class="col-md-6" style="padding-left: 0px;">
              <h3 style="margin: 0px;" class="title-template">Busqueda general</h3>
          </div>
          <div class="col-md-6">
            <div class="col-md-8">
              <input id="attr_val_search" type="" name="" placeholder="SKU" class="form-control">
            </div>
            <div class="col-md-4">
              <button id="generalSearch" class="btn btn-default">Buscar</button>   
            </div>
          </div>
        </div>
     		<div style="height: 200px;  width: 100%; margin: auto; ">            
         		<table id="tableFeed" class="display table" cellspacing="0" width="100%" style="font-size: 10px;">
			      	<thead></thead>
    				<tbody></tbody>
    		   </table>
     		</div>
        </div>
    </div> 
	<div class="col-md-3">
		{{ include('sidebar.html.twig') }}
	</div>


<div class="modal fade" id="newCat" tabindex="-1" role="dialog" aria-labelledby="NuevaCategoria" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCatLabel">Nueva categoría</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre de categoría:</label>
            <input type="text" class="form-control" id="formCategoryName">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Descripción:</label>
            <textarea class="form-control" id="formCategoryDesc"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Meta descripción:</label>
            <textarea class="form-control" id="formCategoryMeta"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="newCategoryBtn">Guardar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="eddCat" tabindex="-1" role="dialog" aria-labelledby="editarCategoria" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCatLabel">Editar categoría</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre de categoría:</label>
            <input type="text" class="form-control" id="editCategoryName"> 
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Descripción:</label>
            <textarea class="form-control" id="editCategoryDesc"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Meta descripción:</label>
            <textarea class="form-control" id="editCategoryMeta"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteCategory">Borrar</button>
        <button type="button" class="btn btn-primary" id="editCategoryBtn">Guardar</button>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .tree-categories img {
    width: 15px; 
  }
  .tree-categories {
    font-size: 11px; 
  }
  ul {
    padding-left: 20px; 
    padding-top: 5px;
  }
</style>

{% endblock %}


