<style type="text/css">
	#filters {
		margin-top: 10px;
		padding: 5px 10px 10px 10px; 
		background-color: #eff3f6; 
		border-radius: 4px;
		font-size: 11px;
	}
	.filter p {
		margin-bottom: 2px; 
	}
	.filter-title {
		border-bottom: 1px solid gray;
	}
	.close-filter {
		font-size: 17px; 
		color: orange;
		padding-left: 10px; 
	}
	.close-filter:hover {
		cursor: pointer;
	}
	.filter-brand {
		color: #337ab7;
	    font-weight: bold;
	    line-height: 17px;
	}
	.brandAction:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>

<div id="filters">

	<div class="filter filter-brands">
		<div class="filter-title">
			<h4>Brand</h4>
		</div>
		<div class="filter-brand">
			<!-- marcas --> 
			<!-- <p>
				<a href="">HP</a>
			</p> --> 
		</div>
	</div>
	
</div>

<script type="text/javascript">

		

</script>