<style type="text/css">
	#filters {
		margin-top: 10px;
		padding: 5px 10px 10px 10px; 
		background-color: #eff3f6; 
		border-radius: 4px;
		font-size: 11px;
	}
	.filter p {
		margin-bottom: 2px; 
	}
	.filter-title {
		border-bottom: 1px solid gray;
	}
</style>

<div id="filters">
	<div class="filter">
		<div class="filter-title">
			<h4>Brand</h4>
		</div>
		<div class="filter-brand">
			<p>
				<a href="">HP</a>
			</p>
		</div>
	</div>
</div>

<script type="text/javascript">
			getFilters(); 
		function getFilters() {
				$.ajax({
			 	url: 'controladores/getMarcas.php', 
			 	method: 'POST', 
			 	data: { 
			 			}, 
			 	success: function(response){
			 		  if( response != 'sin datos' ) {
			 		  		response = JSON.parse(response);  
			 		  		for(i in response) {
			 		  			var element = '<p>' + 
												'<a href="">'+response[i].varchar_value+'</a>' + 
												'</p>';
			 		  			$('.filter-brand').append(element); 
			 		  		}
			 		  } 
			 	}
			 });
		}
</script>