<style type="text/css">
	#filters {
		margin-top: 10px;
		padding: 5px 10px 10px 10px; 
		background-color: #eff3f6; 
		border-radius: 4px;
		font-size: 11px;
	}
	.filter p {
		margin-bottom: 2px; 
	}
	.filter-title {
		border-bottom: 1px solid gray;
	}
	.close-filter {
		font-size: 17px; 
		color: orange;
		padding-left: 10px; 
	}
	.close-filter:hover {
		cursor: pointer;
	}
</style>

<div id="filters">
	<div class="filter">
		<div class="filter-title">
			<h4>Brand</h4>
		</div>
		<div class="filter-brand">
			<!-- marcas --> 
			<!-- <p>
				<a href="">HP</a>
			</p> --> 
		</div>
	</div>
</div>

<script type="text/javascript">
			getFilters(); 
		function getFilters() {
				$.ajax({
			 	url: 'controladores/getMarcas.php', 
			 	method: 'POST', 
			 	data: { 
			 			}, 
			 	success: function(response){
			 		  if( response != 'sin datos' ) {
			 		  		response = JSON.parse(response);  
			 		  		for(i in response) {
			 		  			var element = '<p>' + 
												'<a class="brandAction" href="index.php?p=feedLocal&brand='+response[i].varchar_value+'">'+response[i].varchar_value+'</a>' + 
												'</p>';
								var element = '<p>' + 
												'<p class="brandAction">'+response[i].varchar_value+'</p>' + 
												'</p>';
			 		  			$('.filter-brand').append(element); 
			 		  		}
			 		  		$('.filter-brand').off('.brandAction'); 
			 		  		$('.filter-brand').on('click', '.brandAction', function(event) {
			 		  			var string = null; 
			 		  			string = $(event.target).text(); 
			 		  			var element = '<p>' + 
												'<p class="brandAction">'+string+'<span class="close-filter">&times</span></p>' +  
												'</p>'; 
								$('.filter-brand').html(element); 
			 		  		}); 
			 		  } 
			 	}
			 });
		}
</script>