<style type="text/css">
	#filters {
		
	}
	.filter {
		margin-top: 10px;
		padding: 5px 10px 10px 10px; 
		background-color: #eff3f6; 
		border-radius: 4px;
		font-size: 11px;
		border: 1px solid #e5e5e5;
	}
	.filter p {
		margin-bottom: 2px; 
	}
	.filter-title {
		border-bottom: 1px solid gray;
	}
	.filter-title h4 {
		display: inline-block;
	}
	.close-filter {
		font-size: 17px; 
		color: orange;
		padding-left: 10px; 
	}
	.close-filter:hover {
		cursor: pointer;
	}
	.filter-brand {
	}
	.filter-content {
		color: #337ab7;
	    font-weight: bold;
	    line-height: 17px;
	    max-height: 250px; 
	    overflow-y: auto; 
	}
	.brandAction:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>

<div id="filters">

	<div class="filter filter-brands">
		<div class="filter-title">
			<h4>Brands </h4>
			<span class="filter-n-res label label-primary">?</span>
		</div>
		<div class="filter-brand filter-content">
			<!-- marcas --> 
			<!-- <p>
				<a href="">HP</a>
			</p> --> 
		</div>
	</div>

	<div class="filter">
		<div class="filter-title">
			<h4>Familia</h4>
			<span class="filter-n-res label label-primary">?</span>
		</div>
		<div class="filter-family filter-content">
		</div>
	</div>

	<div class="filter">
		<div class="filter-title">
			<h4>In stock </h4>
		</div>
		<div class="filter-stock filter-content">
			<!-- <p class="brandAction">IN</p>
			<p class="brandAction">OUT</p> --> 
		</div>
	</div>

	<div class="filter">
		<div class="filter-title">
			<h4>Distributors</h4>
		</div>
		<div class="filter-distributor filter-content">
			<!-- <p class="brandAction">CVA group</p>
			<p class="brandAction">Tech Data</p>
			<p class="brandAction">Ingram</p> --> 
		</div>
	</div>

	
</div>

<script type="text/javascript">

		

</script>