<style type="text/css">
	.footer-view ul {
		list-style: none;
	}
	.footer-view ul li {
		margin-top: 10px;
		border-left: 0px;
	}
	.footer-view ul li:hover {
		cursor: pointer;
		color: #337ab7!important; 
	}
</style>
<div>
	<div class="col-md-12 footer-view" style=" background-color: white; border-top: 1px solid #e5e5e5; padding:40px; position: relative;">
		<div class="col-md-3">
			<a class="navbar-brand" href="#" style="padding-top: 5px;">
		        <img style="width: 40px;" alt="OMG Stock" src="skin/media/images.png"> 
		        <h3>In Stock</h3>
		       </a>
		</div>
		<div class="col-md-3">
			<ul>
				<li>
					<h3 style="color:#24292e;"> Features </h3>
				</li>
				<li style="color: #5d6169;">
					Inregrations
				</li>
				<li style="color: #5d6169;">
					Docuementación
				</li>
				<li style="color: #5d6169;">
					Social coding
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul>
				<li>
					<h3 style="color:#24292e;"> Plataform </h3>
				</li>
				<li style="color: #5d6169;">
					Web Services
				</li>
				<li style="color: #5d6169;">
					CMS content
				</li>
				<li style="color: #5d6169;">
					Import Contents
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul>
				<li>
					<h3 style="color:#24292e;"> Resourses </h3>
				</li> 
				<li style="color: #5d6169;">
					<a href="login.html">Home</a>
				</li>
				<li style="color: #5d6169;">
					Media
				</li>
				<li style="color: #5d6169;">
					Terms
				</li>
			</ul>
		</div>
	</div>
</div>