<div class="col-md-12" style="padding: 0px;">
	<div class="row">
		<div class="col-md-8" style="padding-left: 0px; ">
			<h4 style="font-weight: bold; ">Actividad de agentes</h4> 
		</div>
		<div class="col-md-4" style="padding-top: 10px;">
			<a href="">Administrar</a>
		</div>
	</div>
	<div class="container-notifer row" style=" padding: 0px; border-radius: 4px; background-color: #eff3f6; padding: 5px 10px; padding-top: 10px;">
		<div class="col-md-3">
			<img src="media/users/user-1.png" style="border: 2px solid #e68080; width: 60px; border-radius: 50%;">
		</div>
		<div class="col-md-9" style="text-align: left;">
			<h5 style="font-weight: bold;">Alejandra Estrada</h5>
			<h6 style="color: blue;">Social comunity</h6>
		</div>
	</div>
	<div class="container-notifer row" style=" padding: 0px; border-radius: 4px; background-color: #eff3f6; padding: 5px 10px; padding-top: 10px;">
		<div class="col-md-3">
			<img src="media/users/user-1.png" style="border: 2px solid #03a87c; width: 60px; border-radius: 50%;">
		</div>
		<div class="col-md-9" style="text-align: left;">
			<h5 style="font-weight: bold;">Cristina Rendón</h5>
			<h6 style="color: blue;">Social comunity</h6>
		</div>
	</div>
	<div class="row col-md-12" style="padding-top: 50px; padding-left: 0px; ">
		<button class="btn btn-primary" style="font-weight: bold; ">Registrar</button>
		<button style="font-weight: bold;" class="btn btn-default" id="addWidget" data-bind="click: addNewWidget">Añadir Indicador</button>
	</div>
</div>
<h1>&nbsp;</h1>

<a id="openGoogle">Google..</a>

<style type="text/css">
	#openGoogle:hover {
		cursor: pointer;
	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$('#openGoogle').click(function() {
			var param = '&source=lnms&tbm=isch&sa=X'; 
			var name = null; 
			name = $('#NameProduct').val(); 
			var domainUrl = 'https://www.google.com/search?q='; 
			direction(domainUrl+name+param);
		}); 
		
		function direction(link) {
	
					var windowSize = {
					    width: 700,
					    height: 500,
					};
					var windowLocation = {
					    left:  (window.screen.availLeft + (window.screen.availWidth / 2)) - (windowSize.width / 2),
					    top: (window.screen.availTop + (window.screen.availHeight / 2)) - (windowSize.height / 2)
					};
					
			window.open(link, '_blank', 'width=' + windowSize.width + ', height=' + windowSize.height + ', left=' + windowLocation.left + ', top=' + windowLocation.top);
		}
	}); 
</script>