<style type="text/css">
	.container-notifer:hover {
		cursor: pointer;
		background-color: #e8edf1;
	}
	.container-notifer {
		border: 1px solid #e5e5e5; padding: 0px; border-radius: 4px; background-color: #eff3f6; padding-top: 5px; margin-top: 10px; border-left: 1px solid #e68080;     box-shadow: #d0d0d0 0px 1px 6px 0px;
	}
	.on-line { border-left: 1px solid #03a87c; }
	.container-notifer:active {
		transform: scale(1.02);
	}
	.container-widget-sidebar {
		border: 1px solid #e5e5e5; padding-bottom: 20px; border-radius: 4px;     background-color: #f9f9f9;
	}
	.header-sidebar-widget {
		border: 1px solid #e5e5e5; background-color: white; background-color: #e8edf1;
	}
	.title-header-w-s {
		font-weight: bold; font-size: 17px; color: #656565;
	}
	.option-header-ws {
		padding-top: 10px;
	}
</style>

<div class="col-md-12 container-widget-sidebar">
	<div class="row header-sidebar-widget">
		<div class="col-md-8">
			<h4 class="title-header-w-s">Actividad de agentes</h4> 
		</div>
		<div class="col-md-4 option-header-ws">
			<a href="">Administrar</a>
		</div>
	</div>
	<div class="container-notifer row">
		<div class="col-md-3">
			<img src="media/users/user-1.png" style="border: 2px solid #e68080; width: 50px; border-radius: 50%;">
		</div>
		<div class="col-md-9" style="text-align: left;">
			<h5 style="font-weight: bold;">Alejandra Estrada</h5>
			<h6 style="color: #828282;">Social comunity</h6>
		</div>
	</div>
	<div class="container-notifer on-line row">
		<div class="col-md-3">
			<img src="media/users/user-1.png" style="border: 2px solid #03a87c; width: 50px; border-radius: 50%;">
		</div>
		<div class="col-md-9" style="text-align: left;">
			<h5 style="font-weight: bold;">Cristina Rend칩n</h5>
			<h6 style="color: #828282;">Social comunity</h6>
		</div>
	</div>
</div>

	<!-- a침adir indicador --> 
	<div class="col-md-12" style="padding-top: 20px; padding-left: 0px; display: none;">
		<div class="row col-md-12">
			<button class="btn btn-primary" style="font-weight: bold; font-size: 12px;">Registrar</button>
			<button style="font-weight: bold; font-size: 12px;" class="btn btn-default" id="addWidget" data-bind="click: addNewWidget">A침adir Indicador</button>
		</div>
	</div> 
	<!-- a침adir indicador --> 

<div class="col-md-12 container-widget-sidebar" style="margin-top: 15px;">
	<div class="row header-sidebar-widget">
		<div class="col-md-8">
			<h4 class="title-header-w-s">Asistente</h4> 
		</div>
		<div class="col-md-4 option-header-ws">
			<a href="">Administrar</a>
		</div>
	</div>
	<div class="container-notifer row">
		<a id="openGoogle">Google..</a>
	</div>
</div>

<style type="text/css">
	#openGoogle:hover {
		cursor: pointer;
	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$('#openGoogle').click(function() {
			var param = '&source=lnms&tbm=isch&sa=X'; 
			var name = null; 
			name = $('#NameProduct').val(); 
			var domainUrl = 'https://www.google.com/search?q='; 
			direction(domainUrl+name+param);
		}); 
		
		function direction(link) {
	
					var windowSize = {
					    width: 700,
					    height: 500,
					};
					var windowLocation = {
					    left:  (window.screen.availLeft + (window.screen.availWidth / 2)) - (windowSize.width / 2),
					    top: (window.screen.availTop + (window.screen.availHeight / 2)) - (windowSize.height / 2)
					};
					
			window.open(link, '_blank', 'width=' + windowSize.width + ', height=' + windowSize.height + ', left=' + windowLocation.left + ', top=' + windowLocation.top);
		}
	}); 
</script>