     <style type="text/css">
          .tree-categories:hover {
               cursor: pointer;
          }   
          .attr-controls button {
               margin-right: 10px; 
          }
           ul {
               list-style: none; 
          }
           li {
               border-left: 1px solid gray;  
               padding-left: 2px; 
         }
          ul img {
               width: 15px; 
          }
          .line-switch:hover {
            cursor: pointer;
          }
          table:hover {
            cursor: pointer;
          }
     </style>
      <!-- TREE --> 
  <style type="text/css">
    .tree-child {
      background-image: url('media/users/d.png');
      height: 10px;
      display: inline-block;
      z-index: 9999;
      left: 0px;
      background-size: 10px;
      background-position: -42px -1px;
      background-size: auto;
      width: 11px;
      background-repeat: no-repeat; 
      margin-left: -4px; 
    } 
  ul {
      padding-left: 15px; 
    }
  </style>

     <script type="text/javascript" src="skin/tree-category.js"></script>
     <div class="col-sm-12" style="border-radius: 4px; background-color: #eff3f6; padding-top: 10px; padding-bottom: 10px; ">
		<div class="col-sm-12" style="margin-bottom: 10px; ">
		          <div class="col-sm-6">
		               <a href="">Desplegar</a>
		          </div>
		          <div class="col-sm-6">
		               <a href="">Contraer</a>
		          </div>
		     </div>
          <ul class="tree-categories" style="clear: both;"> 
               <li>
                    <img style="width: 20px;" src="skin/media/folder-open.png"> Electrónicos
                    <ul>
                         <li id="idCat20"> 
                              <img style="width: 20px;" src="skin/media/folder-open.png">
                               Laptops 
                         </li>
                         <li>
                              <img style="width: 20px;" src="skin/media/folder-open.png">
                               Pantallas
                         </li>
                         <li>
                              <img style="width: 20px;" src="skin/media/folder-open.png">
                               Celulares
                         </li>
                    </ul>
               </li>
               <li>
                    <img style="width: 20px;" src="skin/media/folder-open.png">
                     Ropa
               </li>
          </ul>
     </div>